button.__SCHEDULING_HELPER {
  margin: 0;
  text-transform: none;
  -webkit-appearance: button;
}

.__SCHEDULING_HELPER__btn.__SCHEDULING_HELPER {
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 3px 6px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.__SCHEDULING_HELPER__btn_primary.__SCHEDULING_HELPER {
  color: #007bff;
  background: transparent;
  border-color: #007bff;
}

.__SCHEDULING_HELPER__btn_primary.__SCHEDULING_HELPER:hover {
  color: #fff;
  background: #007bff;
}

.__SCHEDULING_HELPER__btn_secondary.__SCHEDULING_HELPER {
  color: #6c757d;
  background: transparent;
  border-color: #6c757d;
}

.__SCHEDULING_HELPER__btn_secondary.__SCHEDULING_HELPER:hover {
  color: #fff;
  background: #6c757d;
}

.__SCHEDULING_HELPER__btn_reserving.__SCHEDULING_HELPER {
  margin-left: 6px;
  margin-right: 6px;
}

.__SCHEDULING_HELPER__container_fast_input.__SCHEDULING_HELPER p {
  padding: 0 8px;
  margin: 0 0 1em;
}

.__SCHEDULING_HELPER__fast_input_class_block.__SCHEDULING_HELPER {
  cursor: pointer;
  padding: 8px !important;
  background: rgba(227, 242, 253, 0.5);
  border-top: 1px solid rgba(96, 125, 139, 0.5);
  border-bottom: 1px solid rgba(96, 125, 139, 0.5);
}

.__SCHEDULING_HELPER__fast_input_class_block.__SCHEDULING_HELPER:hover {
  background: rgba(227, 242, 253, 1);
  border-top: 1px solid rgba(96, 125, 139, 1);
  border-bottom: 1px solid rgba(96, 125, 139, 1);
}

.__SCHEDULING_HELPER__fast_input_class_block_selected.__SCHEDULING_HELPER {
  padding: 8px !important;
  background: rgba(250, 250, 250, 0.5);
  border-top: 1px solid rgba(158, 158, 158, 0.5);
  border-bottom: 1px solid rgba(158, 158, 158, 0.5);
}

.__SCHEDULING_HELPER__enroll_rank_exceeded.__SCHEDULING_HELPER {
  font-weight: bold;
  color: #FF9800;
}

.__SCHEDULING_HELPER__enroll_rank_hint.__SCHEDULING_HELPER:after {
  content: '* 高亮显示排名超过额定人数的课程';
  font-weight: bold;
  color: #FF9800;
}

.__SCHEDULING_HELPER__enroll_rank_hint_alt.__SCHEDULING_HELPER:after {
  content: '* 高亮显示排名超过额定人数的课程，只有排名处高亮表示将可能被随机删选';
  font-weight: bold;
  color: #FF9800;
}